@import "../../../App";





.heading-landing{
    background-image: url("../media/bg-main.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    font-size: 20px;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0 5.9968353111em;
    padding: 2.2906835em 0;
    .container{
        // Stylling the path in the landing page
        .path{
            font-size: 15px;
            font-family: $--mainFont;
            a{
                transition: $--mainTransition;
                color: $--mainLight;
                &:hover {
                    color: $--maingreenSecond;
                }
            }
        }
        h1{
            text-transform: capitalize;
            font-size: 55px;
            font-weight: 500;
            color: $--mainBorder;
            margin-bottom: 5rem;
        }
        // Here we are styling the slider in the landing page
        .other-content{
            display: flex;
            justify-content: center;
            gap: 3rem;
            margin-bottom: 3rem;
            .box{
                width: 140px;
                // When I hover on this section, it will show the line below the title and border around the image
                &:hover{
                    .img-container{
                        img{
                            border: solid 2px $--maingreen
                        }
                    }
                    .title{
                        h3{
                            color: $--maingreenSecond;
                            border-bottom: solid 2px $--maingreen;
                        }
                    }
                }
                .img-container{
                    margin-bottom: 1rem;
                    img{
                        transition: $--mainTransition;
                        border: solid 2px transparent;
                        border-radius: 50%;
                        padding: 5px;
    
                    }
                }
                .title{
                    
                    h3{
                        transition: $--mainTransition;
                        width: fit-content;
                        color: $--mainHeading;
                        font-size: 14px;
                        font-weight: 500;
                        border-bottom: solid 2px transparent;
                        margin: 0 auto;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}


// ===============================
/* Start Screen Responsive */
// ===============================

/* Big Screens */
@media (max-width: 1200px) {

}

/* Medium Screens */
@media (max-width: 992px) {}

/* Small Screens */
@media (max-width: 768px) {
    .heading-landing {
        .container {
            width: 100%;
            padding: 0 ;
            
            .other-content {
                .box{
                    width: initial;
                }
                .slick-slider {
                    width: 100%;
                }
            }
        }
    }

}

// ===============================
/* End Screen Responsive */
// ===============================