/* Start Screen Responsive */
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Big Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Screen Responsive */
.container {
  padding: 0 80px;
  margin: 0 auto;
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, body {
  font-family: 'Libre Baskerville', serif;
}

p {
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
  color: #313232;
}

input,
textarea {
  outline: none;
}

.App {
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .App {
    padding-bottom: 5rem;
  }
}

.logo-container img,
.img-container img {
  width: 100%;
}

.link-container a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link-container a:hover {
  color: #51a644;
}

.section {
  padding-top: 6rem;
}

/* Medium Screens */
@media (max-width: 992px) {
  .section {
    padding-top: 0 !important;
  }
}

.price-container {
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .7rem;
}

.price-container .discounted-price {
  color: #828787;
  font-weight: 700;
  color: #51a644;
}

.awssld .awssld__content {
  background-color: transparent !important;
}

.awssld .awssld__timer {
  opacity: 0 !important;
}

.awssld .awssld__controls button {
  display: none !important;
}

.awssld .awssld__bullets button {
  background-color: #224229 !important;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes borderMoving {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes borderMoving {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes VerticalShake {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes VerticalShake {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes HorizontalShaking {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  75% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes HorizontalShaking {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  75% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.popoup-number {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #23232390;
  z-index: 1000;
  display: none;
}

.popoup-number .popoup-number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.popoup-number .popoup-number-container .pop-number-content {
  position: relative;
  background-image: url("../media/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #232323;
  width: 45rem;
  height: 30rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  opacity: 0;
}

.popoup-number .popoup-number-container .pop-number-content .icon-container {
  position: absolute;
  right: 30px;
  top: 20px;
}

.popoup-number .popoup-number-container .pop-number-content .icon-container svg {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.popoup-number .popoup-number-container .pop-number-content .icon-container svg:hover {
  color: #51a644;
}

.popoup-number .popoup-number-container .pop-number-content .other-content {
  color: #fff;
  display: -ms-inline-grid;
  display: inline-grid;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
}

.popoup-number .popoup-number-container .pop-number-content .other-content h3, .popoup-number .popoup-number-container .pop-number-content .other-content p {
  font-family: "Poppins", sans-serif;
}

.popoup-number .popoup-number-container .pop-number-content .other-content h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 15px;
  margin-top: 0;
  letter-spacing: .5px;
}

.popoup-number .popoup-number-container .pop-number-content .other-content p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 24px;
  margin-bottom: 3rem;
}

.popoup-number .popoup-number-container .pop-number-content .other-content .share-on {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 1rem;
  margin-bottom: 0;
}

.popoup-number .popoup-number-container .pop-number-content .other-content .share-on .right-side {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 0;
}

.popoup-number .popoup-number-container .pop-number-content .other-content .share-on .right-side #link span {
  display: none;
}

.popoup-number .popoup-number-container .pop-number-content .other-content .share-on .right-side #link button {
  padding: 0;
}

.popoup-number .popoup-number-container .pop-number-content .other-content .share-on .right-side #link input {
  border-radius: 0px;
  color: #fff;
  border: solid 1px #666;
  padding: 0.88em;
}

.popoup-number .popoup-number-container .pop-number-content .other-content .share-on .left-side ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 24px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.popoup-number .popoup-number-container .pop-number-content .other-content .share-on .left-side ul li a:hover {
  color: #51a644;
}

.popoup-number .popoup-number-container .pop-number-content-active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.popoup-number-active {
  display: block;
}

/* Start Screen Responsive */
/* Big Screens */
/* Medium Screens */
@media (max-width: 992px) {
  .popoup-number .popoup-number-container .pop-number-content {
    height: 20rem;
  }
  .popoup-number .popoup-number-container .pop-number-content .other-content h3 {
    font-size: 25px;
  }
  .popoup-number .popoup-number-container .pop-number-content .other-content p {
    font-size: 13px;
    margin-bottom: 1rem;
  }
  .popoup-number .popoup-number-container .pop-number-content .other-content .share-on .right-side #link input {
    font-size: 11px;
  }
  .popoup-number .popoup-number-container .pop-number-content .other-content .share-on .right-side #link button {
    line-height: 37px;
    width: 60px;
    font-size: 10px;
  }
}

/* Small Screens */
@media (max-width: 768px) {
  .popoup-number .popoup-number-container .pop-number-content {
    height: 20rem;
  }
  .popoup-number .popoup-number-container .pop-number-content .other-content h3 {
    font-size: 25px;
  }
  .popoup-number .popoup-number-container .pop-number-content .other-content p {
    font-size: 13px;
    margin-bottom: 1rem;
  }
  .popoup-number .popoup-number-container .pop-number-content .other-content .share-on .left-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* End Screen Responsive */
/*# sourceMappingURL=style.css.map */