@import "../../../App";

.how-it-works-section{
    text-align: center;
    background-color: #f9f6ef;
    height: 70vh;
    padding: 40px 0;
    .container{
        padding: 0;
        height: 100%;
        h1{
            font-size: 34px;
            font-weight: 500;
            color: $--mainHeading2;
            text-transform: capitalize;
            span{
                font-family: $--mainFont2;
                font-style: italic;
            }
        }
        // Other content contain the card content(img and text)
        .other-content{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .box{
                width: 200px;
                // When hover the card, the color of the border and the text will change 
                &:hover{
                    .img-container {
                        border-color:  $--maingreenSecond;
                    }
                    .text{
                        color: $--maingreenSecond;
                    }
                }
                .img-container{
                    width: 100px !important;
                    border: dashed 3px $--maingreen;
                    width: fit-content;
                    border-radius: 50%;
                    padding: 1.5rem;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                    transition: $--mainTransitionTwo;
                    // When hover the inside the border, it will be shaking
                    &:hover{
                        animation: HorizontalShaking 0.5s;
                        animation-fill-mode: forwards;
                    }
                    // Style the second img container
                    
                    
                }
                // text
                .text{
                    font-size: 18px;
                    color: $--mainHeading2;
                    transition: $--mainTransition;
                }
            }
            // Arrow image
            .arrow-img-container{
                position: relative;
                top: -2rem;
                .reverseImage{
                    transform: scaleY(-1);
                }
                // Disable the last arrow
                &:last-child{
                    display: none;
                }
            }

        }
    }
}



// ===============================
/* Start Screen Responsive */
// ===============================

/* Big Screens */
@media (max-width: 1200px) {}

/* Medium Screens */
@media (max-width: 992px) {
    .how-it-works-section {
        height: fit-content;
        .container {
            // Other content contain the card content(img and text)
            .other-content {
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 4rem;
                .box{
                    width: 300px;
                }
            }
            // Arrow image
            .arrow-img-container{
                display: none;
            }
        }
    }
    
}

/* Small Screens */
@media (max-width: 768px) {
    .how-it-works-section {
        height: initial;
        margin-bottom: 5rem;
        .container {
            h1{
                margin-bottom: 5rem;
            }
            // Other content contain the card content(img and text)
            .other-content {
                gap: 4rem;
            }
        }
    }
}

// ===============================
/* End Screen Responsive */
// ===============================