/* Start Screen Responsive */
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Big Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Screen Responsive */
.container {
  padding: 0 80px;
  margin: 0 auto;
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, body {
  font-family: 'Libre Baskerville', serif;
}

p {
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
  color: #313232;
}

input,
textarea {
  outline: none;
}

.App {
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .App {
    padding-bottom: 5rem;
  }
}

.logo-container img,
.img-container img {
  width: 100%;
}

.link-container a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link-container a:hover {
  color: #51a644;
}

.section {
  padding-top: 6rem;
}

/* Medium Screens */
@media (max-width: 992px) {
  .section {
    padding-top: 0 !important;
  }
}

.price-container {
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .7rem;
}

.price-container .discounted-price {
  color: #828787;
  font-weight: 700;
  color: #51a644;
}

.awssld .awssld__content {
  background-color: transparent !important;
}

.awssld .awssld__timer {
  opacity: 0 !important;
}

.awssld .awssld__controls button {
  display: none !important;
}

.awssld .awssld__bullets button {
  background-color: #224229 !important;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes borderMoving {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes borderMoving {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes VerticalShake {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes VerticalShake {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes HorizontalShaking {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  75% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes HorizontalShaking {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  75% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.how-it-works-section {
  text-align: center;
  background-color: #f9f6ef;
  height: 70vh;
  padding: 40px 0;
}

.how-it-works-section .container {
  padding: 0;
  height: 100%;
}

.how-it-works-section .container h1 {
  font-size: 34px;
  font-weight: 500;
  color: #313232;
  text-transform: capitalize;
}

.how-it-works-section .container h1 span {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}

.how-it-works-section .container .other-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-it-works-section .container .other-content .box {
  width: 200px;
}

.how-it-works-section .container .other-content .box:hover .img-container {
  border-color: #51a644;
}

.how-it-works-section .container .other-content .box:hover .text {
  color: #51a644;
}

.how-it-works-section .container .other-content .box .img-container {
  width: 100px !important;
  border: dashed 3px #224229;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: 1.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.how-it-works-section .container .other-content .box .img-container:hover {
  -webkit-animation: HorizontalShaking 0.5s;
          animation: HorizontalShaking 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.how-it-works-section .container .other-content .box .text {
  font-size: 18px;
  color: #313232;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.how-it-works-section .container .other-content .arrow-img-container {
  position: relative;
  top: -2rem;
}

.how-it-works-section .container .other-content .arrow-img-container .reverseImage {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.how-it-works-section .container .other-content .arrow-img-container:last-child {
  display: none;
}

/* Start Screen Responsive */
/* Big Screens */
/* Medium Screens */
@media (max-width: 992px) {
  .how-it-works-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .how-it-works-section .container .other-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 4rem;
  }
  .how-it-works-section .container .other-content .box {
    width: 300px;
  }
  .how-it-works-section .container .arrow-img-container {
    display: none;
  }
}

/* Small Screens */
@media (max-width: 768px) {
  .how-it-works-section {
    height: initial;
    margin-bottom: 5rem;
  }
  .how-it-works-section .container h1 {
    margin-bottom: 5rem;
  }
  .how-it-works-section .container .other-content {
    gap: 4rem;
  }
}

/* End Screen Responsive */
/*# sourceMappingURL=style.css.map */