/* Start Screen Responsive */
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Big Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Screen Responsive */
.container {
  padding: 0 80px;
  margin: 0 auto;
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, body {
  font-family: 'Libre Baskerville', serif;
}

p {
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
  color: #313232;
}

input,
textarea {
  outline: none;
}

.App {
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .App {
    padding-bottom: 5rem;
  }
}

.logo-container img,
.img-container img {
  width: 100%;
}

.link-container a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link-container a:hover {
  color: #51a644;
}

.section {
  padding-top: 6rem;
}

/* Medium Screens */
@media (max-width: 992px) {
  .section {
    padding-top: 0 !important;
  }
}

.price-container {
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .7rem;
}

.price-container .discounted-price {
  color: #828787;
  font-weight: 700;
  color: #51a644;
}

.awssld .awssld__content {
  background-color: transparent !important;
}

.awssld .awssld__timer {
  opacity: 0 !important;
}

.awssld .awssld__controls button {
  display: none !important;
}

.awssld .awssld__bullets button {
  background-color: #224229 !important;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes borderMoving {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes borderMoving {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes VerticalShake {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes VerticalShake {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes HorizontalShaking {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  75% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes HorizontalShaking {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  75% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.quote-section {
  margin-bottom: 7rem;
}

.quote-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 50%;
      grid-template-columns: auto 50%;
  grid-auto-flow: dense;
  direction: ltr;
  padding: 0;
  gap: 1rem;
}

.quote-section .container .left-side {
  position: relative;
}

.quote-section .container .left-side .main-bg {
  width: 100%;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.quote-section .container .left-side:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.quote-section .container .left-side .png-rotate {
  position: absolute;
  top: -50px;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  -webkit-animation: rotating 10s linear infinite;
          animation: rotating 10s linear infinite;
}

.quote-section .container .left-side .second-bg {
  position: absolute;
  left: 60%;
  bottom: -80px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* Start Screen Responsive */
/* Big Screens */
/* Medium Screens */
@media (max-width: 992px) {
  .quote-section .container .left-side .main-bg {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .quote-section .container .left-side .second-bg {
    width: 50%;
  }
}

/* Small Screens */
@media (max-width: 768px) {
  .quote-section .container {
    grid-auto-rows: auto auto;
    -ms-grid-columns: none;
        grid-template-columns: none;
    padding: 0 30px;
  }
  .quote-section .container .left-side .second-bg {
    left: 90%;
    bottom: -40px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 35%;
  }
}

/* End Screen Responsive */
/*# sourceMappingURL=style.css.map */