@import "../../../../../App";

// ============================
// Stylling First Side
// ============================
.side-1 {
    order: 2;
    position: relative;

    ul {
        display: flex;
        gap: 1em;

        .icon-container{
            display: none;
        }
        li {
            padding: 5px 15px;


            a {
                position: relative;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 12px;
                color: $--mainBorder;
                white-space: nowrap;
                letter-spacing: 2px;
                transition: $--mainTransition;
                @include borderBottom(0);
                padding: 5px 2px;

                &:hover,
                &:focus {
                    @include borderBottom(100%);

                    // Arrow Icon
                    .arrow-icon {
                        transform: rotate(180deg);
                    }
                }

                // Arrow Icon
                .arrow-icon {
                    margin-left: .5em;
                    transition: $--mainTransition;
                }



                // --------- Start Stylling Sub Links ---------
                .subLinks {
                    display: none;
                    position: absolute;
                    top: 35px;
                    background: #fff;
                    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .08);
                    opacity: 1;
                    padding: 2em 5em 2em 1em;
                    width: 13rem;
                    z-index: 100;
                    gap: 1.5em;

                    h2 {
                            color: $--mainBlack;
                            font-size: 16px;
                            font-weight: 400;
                            text-transform: capitalize;
                            padding-bottom: 5px !important;
                            position: relative;
                            @include borderBottom(40px);
                        }
                    //  Start Stylling [ <a> </a> ] in sub Links 
                    li {
                        a {
                            color: $--mainLight;
                            font-weight: 500;

                            &::before {
                                display: none;
                            }

                            &:hover,
                            &:focus {
                                color: $--maingreen;
                                padding-left: 1rem;
                            }
                        }

                        // When I route to a Page
                        .active {
                            color: $--maingreen;
                            padding-left: 1rem;
                        }
                    }

                    //  End Stylling [ <a> </a> ] in sub Links 
                }

                // --------- End Stylling Sub Links ---------



                // On hovering on page link,
                // sublink will be Enabled
                &:hover {
                    .subLinks {
                        display: grid !important;
                    }
                }
            }

            // When I route to a Page
            .active {
                @include borderBottom(100%);
            }
        }



    }
}



// ===============================
/* Start Screen Responsive */
// ===============================

/* Big Screens */
@media (max-width: 1200px) {}

/* Medium Screens */
@media (max-width: 992px) {
    .side-1 {
        ul{
            opacity: 0;
            transition: all 0.5s ease-in-out;
            width: 0px;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: $--mainWhite;
            flex-direction: column;
            overflow-y: auto;
            position: fixed;
            z-index: 19;
            li{
                display: block;
                font-weight: 400;
                padding: 1.5em 1em;
                position: relative;
                @include borderBottom(100%);
                &:hover,
                &:focus {
                    a{
                        color: $--maingreen;
                        padding-left: 1rem;
                    }
                }
                a{
                    display: block;
                    font-size: 12px;
                    font-weight: 800;
                    padding: 0em;
                    position: relative;
                    color: $--mainLight;
                    font-weight: 600;
                    &::before {
                        display: none;
                    }
                }
                // When I route to a Page
                .active {
                    color: $--maingreen;
                    padding-left: 1rem;
                }
                // Start Stylling sub links
                a {
                    .subLinks {
                        width: 100%;
                        overflow-y: unset;
                        background: transparent;
                        display: block;
                        padding: 0;
                        position: relative;
                        right: 0;
                        top: .7em;
                        box-shadow: none;
                        // Disable on hovering
                        
                    }
                }
            }
            // Pages title in sublink
            .label{
                display: none;
            }

            // Stylling bar icon
            .icon-container {
                display: block;
                background-color: $--maingreen;
                text-align: end;
                color: $--mainWhite;
                font-size: 18px;
                font-weight: 300;
                font-family: $--mainFont;
                cursor: pointer;
            }
        }
    }
    .side-activated{
        position: absolute;
        left: 0;
        ul{
            opacity: 1;
            width: 300px;
            pointer-events: auto;
        }
    }
}

/* Small Screens */
@media (max-width: 768px) {}

// ===============================
/* End Screen Responsive */
// ===============================